@charset "UTF-8";

body {
    background-color: gray;
}

.fundo {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(77, 77, 77);
    border-radius: 5%;
    display: flex;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.centro::before, .centro::after {
    content: '';
    display: block;
    position: absolute;
    left: -60px;
    right: -60px;
    top: -60px;
    bottom: -60px;
    border-radius: 50%;
    border: 2px solid red;
    animation: animar 1.5s linear infinite;
}

.centro::after {
    animation-delay: .5s;
}

@keyframes animar {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

button {
    font-size: 28px;
    font-weight: bolder;
    background-color: red;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 0 20px black;
    z-index: 1;
}

button:hover {
    cursor: pointer;
    border: 1px solid white;
}
